In [95]:
import pandas as pd
import numpy as np


# from my_modules import my_functions as mybib
from my_modules import project_functions as mybib


import os # for file system operations

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Data Import

### Population datasets

In [96]:
# creating a list of all files in the directory
list_population_files = os.listdir('../data/input/population')

population_df = mybib.get_population_data(list_population_files)

Loading all files from ../data/input/population/: ['SB_A01-16-00_2022h02_BE.xlsx']

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.81it/s]

Population data files where successfully loaded, combined and stored as a pickle file.
Path: ../data/output/temp_analysis/total_population_dataset.pkl
Dataframe preview:

,key,year,half_year,lor,total_population,-6,6-15,15-18,18-27,27-45,45-55,55-65,65+
0,01100101-2022-2,2022,2,01100101,3561,165,209,25,395,1271,375,403,718
1,01100102-2022-2,2022,2,01100102,2002,113,129,27,174,764,274,262,259
2,01100103-2022-2,2022,2,01100103,5662,282,326,102,741,1791,653,747,1020
3,01100104-2022-2,2022,2,01100104,5029,260,397,137,801,1886,601,554,393
4,01100205-2022-2,2022,2,01100205,3009,147,178,52,390,1122,331,319,470

### Accident datasets

In [97]:
accident_df = mybib.get_accident_data()

Loading all files from ../data/input/road_accidents/: ['berlin_road_accidents_2018.csv', 'berlin_road_accidents_2019.csv', 'berlin_road_accidents_2020.csv', 'berlin_road_accidents_2021.csv']
Accident data files where successfully loaded, combined and stored as a pickle file.
Path: ../data/output/temp_analysis/accident_dataset.pkl
Dataframe preview:

,key,object_id,old_lor,street_default,lor,year,month,hour,weekday,ac_category,...,street_condition,linrefx,linrefy,xgcswgs84,ygcswgs84,latitude,longitude,district_LOR3,district_LOR2,district
0,112695-2018-2500729,112695,02050602,Samariterviertel,02500729,2018,1,15,4,3,...,1,803604.1562,5827580.738,13.475018,52.513597,52.513597,13.475018,025007,0250,02
1,112705-2018-12500824,112705,12304314,Ziekowstraße/Freie Scholle,12500824,2018,1,11,2,3,...,0,790639.5854,5835009.589,13.291022,52.587259,52.587259,13.291022,125008,1250,12
2,112726-2018-2400520,112726,02040501,Barnimkiez,02400520,2018,1,9,3,3,...,0,799827.9618,5828733.523,13.420578,52.526019,52.526019,13.420578,024005,0240,02
3,112737-2018-7200308,112737,07020202,Volkspark (Rudolf-Wilde-Park),07200308,2018,1,17,2,3,...,0,795223.5090,5823525.402,13.348288,52.481844,52.481844,13.348288,072003,0720,07
4,112747-2018-3200206,112747,03020209,Niederschönhausen,03200206,2018,1,15,4,3,...,1,798261.3849,5835047.260,13.403228,52.583472,52.583472,13.403228,032002,0320,03

###Geo datasets

In [120]:
geo_data = mybib.import_geo_data()

Loading all files from ../data/input/geo_data/: ['Detailnetz-Strassenabschnitte.geojson', 'Flaeche.xlsx', 'lor_bezirksregionen_2021.geojson', 'lor_ortsteile.geojson', 'lor_planungsraeume_2021.geojson', 'lor_prognoseraeume_2021.geojson']
Geo data files where successfully loaded, combined and stored as a pickle file.
Path: ../data/output/temp_analysis/gdf_data.pkl
Dataframe preview:

,lor_4,lor4_name,area_in_sqm_lor4,geometry_lor4,lor_3,lor_3_name,geometry_lor3,lor_2,lor_2_name,geometry_lor2,lor_1,lor_1_name
0,11501341,Karlshorst Süd,2294021.72,"MULTIPOLYGON (((400826.929 5814871.126, 400825...",115013,Karlshorst,"MULTIPOLYGON (((400825.707 5814869.607, 400807...",1150,Lichtenberg Süd,"MULTIPOLYGON (((400807.738 5814847.255, 400804...",11,Lichtenberg
1,07601340,Tirschenreuther Ring Ost,413969.33,"MULTIPOLYGON (((387795.701 5807587.153, 387789...",076013,Marienfelde Süd,"MULTIPOLYGON (((388635.303 5808160.013, 388639...",0760,Marienfelde / Lichtenrade,"MULTIPOLYGON (((392294.859 5804064.177, 392292...",07,Tempelhof-Schöneberg
2,02500831,Wismarplatz,248988.29,"MULTIPOLYGON (((396010.552 5819339.570, 396021...",025008,Frankfurter Allee Süd FK,"MULTIPOLYGON (((397432.655 5816357.861, 397413...",0250,Friedrichshain Ost,"MULTIPOLYGON (((397369.752 5816372.894, 397305...",02,Friedrichshain-Kreuzberg
3,12601134,Märkisches Zentrum,1127855.84,"MULTIPOLYGON (((387367.428 5828619.763, 387315...",126011,MV Nord,"MULTIPOLYGON (((388648.807 5828699.019, 388617...",1260,Märkisches Viertel,"MULTIPOLYGON (((389463.444 5828733.427, 389461...",12,Reinickendorf
4,07601547,Horstwalder Straße,941433.95,"MULTIPOLYGON (((391807.174 5805331.900, 391808...",076015,Lichtenrade Süd,"MULTIPOLYGON (((392932.348 5805411.254, 392939...",0760,Marienfelde / Lichtenrade,"MULTIPOLYGON (((392294.859 5804064.177, 392292...",07,Tempelhof-Schöneberg

### Adress dataset (optional)

In [ ]:
mybib.get_adress_data_by_year(2023)