In [ ]:
import pandas as pd
import numpy as np


from my_modules import my_functions as mybib
from my_modules import project_functions as pr


%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
column_names = [i for i in range(0, 15)]

population_df = pd.DataFrame(columns=column_names)
display(population_df)

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Index: []

In [ ]:
def transform_number_under_10(x):
    if x < 10:
        x = '0' + str(x)
        return x
    else:
        x = str(x)
        return x

In [ ]:
# https://ecoagi.ai/de/topics/Python/python-get-all-files-in-directory

import os 
import re
from tqdm import tqdm

list_xlsx_files = os.listdir('../data/input/population')
list_xlsx_files


for filename in tqdm(list_xlsx_files): 

    
    # extract year and half_year
    temp = re.search(r'(\d{4})h(\d{2})', filename)
    year, half_year = temp.groups()
    # print(f'{year}, {half_year}')
    
    # print(f'{filename}')
    

    # create file path for file import 
    file_path = f'../data/input/population/{filename}'

    # import data 
    raw_data = pd.read_excel('../data/input/population/SB_A01-16-00_2018h01_BE.xlsx', 'T2', header = None)

    
    Nan_rows = raw_data.isnull().any(axis=1)
    Non_nan_rows = ~Nan_rows
    final_rows = Non_nan_rows[Non_nan_rows].index.tolist()
    pop_data = raw_data.iloc[final_rows]
        
    pop_data.insert(0, 'year', year)
    pop_data.insert(1, 'half_year', half_year)
    
    # counter = counter + len(pop_data)
        
    population_df = pd.concat([population_df, pop_data], ignore_index=True , axis=0)
    

    # display(population_df.head(1)) 
    # print(population_df.dtypes)
    # print(population_df.dtypes)
    columns_to_transform = population_df.columns[0:17]
    population_df[columns_to_transform] = population_df[columns_to_transform].astype(int)
    # print(population_df.dtypes)
    
    
    columns_to_transform = [0,1,2,3]
    # print(f'File {year}-{half_year} shape: {pop_data.shape} \n')
    for col in columns_to_transform:
        population_df[col] = population_df[col].apply(lambda x: transform_number_under_10(x))
    
    # display(population_df.head(1))
    # print(population_df.dtypes)
    

    # drop woman and asyl data columns 
    # transform 0-3 to LOR Code
    # Rearrange table columns    
    population_df['lor'] = population_df[0] + population_df[1] + population_df[2] + population_df[3]
    population_df['key'] = population_df['lor'] + '-' + population_df['year'].astype(str) + '-' +  population_df['half_year'].astype(str)
    

    
    population_df.to_csv(f'../data/output/temp_population_data/population-{year}-{half_year}.csv', index = False)
    # display(population_df.head(1))


# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'year', 'half_year', ]



population_df = population_df.drop(columns = [0, 1, 2, 3, 13, 14])

population_df = population_df.reindex(['key', 'year', 'half_year', 'lor', 4, 5, 6, 7, 8, 9, 10, 11, 12], axis = 1)
population_df.columns = ['key', 'year', 'half_year', 'lor', 'total_population', '-6', '6-15', '15-18', '18-27', '27-45', '45-55', '55-65', '65+']



population_df.to_csv('../data/output/total_population_dataset_2018-2022.csv', index = False)
population_df.to_pickle('../data/output/total_population_dataset_2018-2022.pkl')
population_df.to_excel('../data/output/total_population_dataset_2018-2022.xlsx', index = False)

display(population_df.head(5))
print(population_df.columns)
print(population_df.dtypes)

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [00:02<00:00,  4.51it/s]

,key,year,half_year,lor,total_population,-6,6-15,15-18,18-27,27-45,45-55,55-65,65+
0,01011101-2018-1,2018,1,01011101,3269,153,127,32,502,999,348,389,719
1,01011102-2018-1,2018,1,01011102,185,4,9,3,15,51,36,40,27
2,01011103-2018-1,2018,1,01011103,5073,254,329,122,578,1430,682,770,908
3,01011104-2018-1,2018,1,01011104,4781,277,396,135,912,1661,629,426,345
4,01011105-2018-1,2018,1,01011105,1322,83,64,13,103,455,199,185,220

Index(['key', 'year', 'half_year', 'lor', 'total_population', '-6', '6-15',
       '15-18', '18-27', '27-45', '45-55', '55-65', '65+'],
      dtype='object')
key                 object
year                 int32
half_year            int32
lor                 object
total_population     int32
-6                   int32
6-15                 int32
15-18                int32
18-27                int32
27-45                int32
45-55                int32
55-65                int32
65+                  int32
dtype: object